<footer>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="../../../assets/images/logo-footer.png" alt="">
        </div>
        <div class="col-lg-6">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Product</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
</footer>
