<footer>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="../../../assets/images/logo-footer.png" alt="">
        </div>
        <div class="col-lg-6">
            <ul>
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="shop">Shop</a></li>
                <li><a routerLink="">Product</a></li>
                <li><a routerLink="">Blog</a></li>
                <li><a routerLink="">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
</footer>
