<div class="container category">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h2>Simply Unique<span>/</span></h2>
            <h2>Simply Better<span>.</span></h2>
        </div>
        <div class="col-lg-6">
            <p><strong>3legant</strong> is a gift & decorations store based in HCMC,<br> Vietnam. Est since 2019. </p>
        </div>
    </div>
    <div class="row box-categories">
        <div class="col-lg-6 single-category">
            <h3>Living Room</h3>
            <a href="">Shop Now</a>
            <img src="../../../assets/images/room.png" alt="">
        </div>
        <div class="col-lg-6 justify-content-between d-flex flex-column">
            <div class="col-lg-12 single-category flex-column-reverse">
                <h3>Bedroom</h3>
                <a href="">Shop Now</a>
                <img src="../../../assets/images/bedroom.png" alt="">
            </div>
            <div class="col-lg-12 single-category flex-column-reverse">
                <h3>kitchen</h3>
                <a href="">Shop Now</a>
                <img src="../../../assets/images/kitchen.png" alt="">
            </div>
        </div>
    </div>
</div>


