/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}